.content-image-cta p {
    font-size: 12px
}

.articles-small .wp-block-columns .wp-block-column {
    text-align: center
}

@media (min-width:981px) {
    .articles-small .wp-block-columns .wp-block-column {
        text-align: left
    }
}

@media (min-width:981px) {
    .articles-small .wp-block-columns .wp-block-column:nth-child(2) {
        text-align: right
    }
}