.content-image-cta p {
    font-size: 12px
}

.call-to-action {
    display: inline-block
}

.call-to-action.arrow-btn a {
    flex-wrap: nowrap
}

.call-to-action.arrow-btn a .icon-double-arrows {
    min-width: 50px
}

.call-to-action .up-arrow {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-left: 50px
}

@media (min-width:981px) {
    .call-to-action .up-arrow {
        padding-left: 100px
    }
}

.call-to-action .up-arrow span {
    margin-top: 15px;
    font-family: var(--wp--preset--font-family--futura-pt)
}